#state-diagram-container {
  background-color: #666;
  padding: 0.5rem;

  h4 {
    margin-bottom: 0.5rem;
    color: white;
    margin-right: 2rem;
  }

  .state-diagram-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr)); /* Adjust min size */
    gap: 10px;
    font-weight: bold;
    position: relative;

    
    #line {
      position: absolute;
      top: 50%;
      left: 2em;
      right: 2em;
      border-bottom: 2px solid #ccc;
    }

    :global(.mantine-Card-root) {
      transition: 0.25s;
      border: 1px solid white;
      color: white;
      text-align: center;
      width: 100%;
    }

    .inactive {
      filter: brightness(0.8);
      transform: scale(0.8,0.8);
      border: none;
    }
  }
}


#detailed-state-diagram-container {

}